<!-- <label for="Username">UserName: </label>
<input type="text" name="Username" placeholder="UserName" [(ngModel)]="loginObj.userName">
<label for="email">Email: </label>
<input type="email" placeholder="Email" name="email">
<label for="password">Password: </label>
<input type="password" name="password" placeholder="password" [(ngModel)]="loginObj.password">
<button (click)="onSignUp()">SIGN UP</button> -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 id="header">Login</h1>
                    
                </div>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <!-- <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  New User <a routerLink="/sign_up">Click here</a>
            </div>

        </div>
    </div>
</div>